<html>
    <!-- <head> -->
        <title>
            HW4-FrontEnd
        </title> 
        <!-- <p>HW4-FrontEnd app is running!</p> -->
    <!-- </head> -->
    <body>
        <div class="page-header">
            <h1>
                {{title}}
             </h1>
        </div>
        <div>
            <router-outlet></router-outlet>
        </div>
        
        <div class="footer">
            <h2>
                {{footer}}
            </h2>
        </div>
    </body>
</html>
