h1{
    text-align: center;
    color: wheat;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

h2{
    text-align: center;
    color: black;
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin:0;padding:0;
}

.page-header{
    border: 1px solid;
    background-color: black;
    margin: 0;
}

.footer{
    background-color: #FFD200;
    margin: 0;
}

